.zoom {
  font-size: 36px;
}

#menu_logo {
  transition: transform 0.3s;
}

#menu_logo:hover {
  transform: scale(1.25);
}

.button_primary {
  border: 1px white solid;
  border-radius: 8px;
  width: 238px;
  height: 77px;
  background-color: transparent;
}

#dot {
  margin-left: 300px;
}
